﻿html, body {
    height: auto;
    width: auto;
    background-image: url(../images/kawasaki.jpg);
    background-size: cover;
    margin: 1px 10px 20px 10px;
}



.wrapper_all_content {
    width: 100%;
    min-height: 500px;
    height: auto;
}


.main_content {
    margin: 1% 10%;
    width: 90%;
    height: auto;
}

.main_menu {
    width: auto;
    height: 50px;
    right: 10px;
    line-height: 50px;
    text-align: center;
    background: #99ff99;
}


.authentification_panel {
    position: absolute;
    right: 10px;
    width: 190px;
    background-color: #99ff99;
    z-index: 100;
}
.authentification_textbox {
    margin: 2px 2px 4px 4px;
}


.main_menu_item_login {
    right: 10px;
    position: absolute;
    width: auto;
    background-color: #99ff99;
}

.main_menu_item_logout {
    right: 10px;
    position: absolute;
    width: auto;
    background-color: #99ff99;
}

.main_menu_item_load {
    right: 200px;
    position: absolute;
    width: auto;
    background-color: #99ff99;
}

.main_menu_icon {
    position: absolute;
    width: 110px;
    height: 50px;
    left: 10px;
    background-image: url(../images/motorcycle.gif);
    background-size: cover;
}

.errorMessage {
    margin-left: 4px; 
    color: red;
}

