﻿

.widget {
    width: 100%;
    height: auto;
}


.tab {
    background: #00ff00;
    color: black;
    float: left;
    display: inline;
    border: #99ff99;
    padding: 1em 4em;
    border-right: 0.22em solid #99ff99;
}

.selected {
    color: black;
    background: #99ff99;
}

.menu_content_panel {
    float: left;
    clear: right;
    width: 90%;
    height: 400px;
    background: #99ff99;
    overflow-y: scroll;
}

#all_tabs {
    width: auto;
    height: 3.15em;
    font-size: 14px;
}

.on {
    display: inline-block;
}

.off {
    display: none;
}


.tab:hover {
    color: firebrick;
}



