﻿
.Container {
    padding: 0;
    margin: 0;
}

.Node {
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}

.ExpandOpen .Expand {
    background-image: url(../images/minus.gif);
}

.ExpandClosed .Expand {
    background-image: url(../images/plus.gif);
}

.ExpandWithoutChild .Expand {
    background-image: url(../images/leaf.gif);
}

.Container li {
    list-style-type: none;
}

.Content {
    min-height: 18px;
    margin-left: 18px;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}

.ExpandWithoutChild .Expand {
    cursor: auto;
}
